[Unit]
Description=Apache Hadoop HDFS Datanode
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=/etc/systemd/system/hadoop-hdfs-datanode.service.d/default.conf
ExecStart=/usr/hdp/current/hadoop-hdfs-datanode/etc/rc.d/init.d/hadoop-hdfs-datanode start
Group=root
PIDFile=/var/run/pid/hdfs/hadoop-hdfs-datanode.pid
Restart=on-failure
Type=forking
User=root

[Install]
WantedBy=multi-user.target
