[Unit]
Description=Apache Hadoop YARN Node Manager
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=/etc/systemd/system/hadoop-yarn-nodemanager.service.d/default.conf
ExecStart=/usr/hdp/current/hadoop-yarn-nodemanager/../hadoop-yarn/sbin/yarn-daemon.sh --config /usr/hdp/current/hadoop-yarn-nodemanager/../hadoop/conf start nodemanager
Group=yarn
Restart=on-failure
Type=forking
User=yarn
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/run/pid/yarn
ExecStartPre=/usr/bin/chown yarn:yarn /var/run/pid/yarn

[Install]
WantedBy=multi-user.target
