[Unit]
Description=Apache Hadoop MapReduce History Server
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=/etc/systemd/system/hadoop-mapreduce-historyserver.service.d/default.conf
ExecStart=/usr/hdp/current/hadoop-mapreduce-historyserver/../hadoop-mapreduce/sbin/mr-jobhistory-daemon.sh --config /usr/hdp/current/hadoop-mapreduce-historyserver/../hadoop/conf start historyserver
Group=yarn
Restart=on-failure
Type=forking
User=yarn
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/run/pid/yarn
ExecStartPre=/usr/bin/chown yarn:yarn /var/run/pid/yarn

[Install]
WantedBy=multi-user.target
