[Unit]
Description=Apache Zookeeper
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
EnvironmentFile=/etc/systemd/system/zookeeper-server.service.d/default.conf
ExecStart=/usr/bin/zookeeper-server start
Group=zookeeper
PIDFile=/var/run/pid/zookeeper/zookeeper-server.pid
Restart=on-failure
Type=simple
User=zookeeper
WorkingDirectory=/var/lib/zookeeper
PermissionsStartOnly=true
ExecStartPre=/usr/bin/mkdir -p /var/run/pid/zookeeper
ExecStartPre=/usr/bin/chown zookeeper:zookeeper /var/run/pid/zookeeper

[Install]
WantedBy=multi-user.target
