{% block body %}

<script type="text/javascript" src="https://www.google.com/jsapi"></script>

<form action="/">
<table>
<tr><td>Versions:</td>
<td>
<select name="old" id="old">
{% for (k, v) in all_versions.iteritems() %}
  <option{% if "old" in v %} selected="selected"{% endif %}>{{ k }}</option>
{% endfor %}
</select>
</td>
<td>
<select name="new" id="new">
{% for (k, v) in all_versions.iteritems() %}
  <option{% if "new" in v %} selected="selected"{% endif %}>{{ k }}</option>
{% endfor %}
</select>
</td>
<td><input type="submit" value="Update"></td>
</tr>
</form> 
 
<table>
<tr>
  <td><div id="etl_comparisons_div" style="width: 600px; height: 500px;"></div></td>
  <td><div id="explain_timings_div" style="width: 600px; height: 500px;"></div></td>
</tr>
<tr>
  <td><div id="interactive_features_div" style="width: 600px; height: 500px;"></div></td>
  <td></td>
</tr>
<tr>
  <td colspan="2"><div id="tpch_times_div" style="width: 1200; height: 500px;"></div></td>
</tr>
<tr>
  <td colspan="2"><div id="tbench1_faster_div" style="width: 1200px; height: 500px;"></div></td>
</tr>
<tr>
  <td colspan="2"><div id="tbench1_other_div" style="width: 1200px; height: 500px;"></div></td>
</tr>
<table>
<script type='text/javascript'>//<![CDATA[ 
 
google.load('visualization', '1', {packages: ['corechart', 'bar']});
google.setOnLoadCallback(drawEtlComparisons);
google.setOnLoadCallback(drawExplainTimings);
google.setOnLoadCallback(drawInteractiveFeatures);
google.setOnLoadCallback(drawTpchTimes);
google.setOnLoadCallback(drawTbench1);

function drawEtlComparisons() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Suite');
  data.addColumn('number', '{{ old_version }}');
  data.addColumn('number', '{{ new_version }}');
  data.addRows([
    [{v: 'TPC-DS Load', f: 'TPC-DS Load'},     {{ d["tpcdsload"][0] }},        {{ d["tpcdsload"][1] }}],
    [{v: 'Airline Load', f: 'Airline Load'},   {{ d["airline_convert"][0] }},  {{ d["airline_convert"][1] }}],
    [{v: 'Airline Stats', f: 'Airline Stats'}, {{ d["airline_stats"][0] }},    {{ d["airline_stats"][1] }}],
    [{v: 'Avro to ORC', f: 'Avro to ORC'},     {{ d["license_avro_orc"][0] }}, {{ d["license_avro_orc"][1] }}],
  ]);
  var options = {
    title: 'ETL: 1 Node, {{ old_version }} vs {{ new_version }}',
    chartArea: {width: '65%'},
    hAxis: {
      fontSize:10,
      title: 'Suite',
    },
    legend: { position: 'bottom' },
    vAxis: {
      title: 'Time (s)'
    }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('etl_comparisons_div'));
  chart.draw(data, options);
}
 
function drawExplainTimings() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Suite');
  data.addColumn('number', '{{ old_version }}');
  data.addColumn('number', '{{ new_version }}');
  data.addRows([
    [{v: 'All Options', f: 'All Options'}, {{ d["sa_orig_allopt"][0] }},  {{ d["sa_orig_allopt"][1] }}],
    [{v: 'No CBO', f: 'No CBO'},           {{ d["sa_orig_nocbo"][0] }},   {{ d["sa_orig_nocbo"][1] }}],
    [{v: 'No PPD', f: 'No PPD'},           {{ d["sa_orig_noppd"][0] }},   {{ d["sa_orig_noppd"][1] }}],
    [{v: 'No Fetch', f: 'No Fetch'},       {{ d["sa_orig_nofetch"][0] }}, {{ d["sa_orig_nofetch"][1] }}],
  ]);
  var options = {
    title: 'Query compile (890 queries): {{ old_version }} vs {{ new_version }}',
    chartArea: {width: '65%'},
    hAxis: {
      fontSize:10,
      title: 'Suite',
    },
    legend: { position: 'bottom' },
    vAxis: {
      title: 'Time (s)'
    }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('explain_timings_div'));
  chart.draw(data, options);
}
 
function drawInteractiveFeatures() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Test');
  data.addColumn('number', '{{ old_version }}');
  data.addColumn('number', '{{ new_version }}');
  data.addRows([
    [{v: 'Select Star', f: 'Select Star'},               {{ d["select_star"][0] }},        {{ d["select_star"][1] }}],
    [{v: 'Simple Aggregation', f: 'Simple Aggregation'}, {{ d["simple_aggregation"][0] }}, {{ d["simple_aggregation"][1] }}],
    [{v: 'HAVING 1 > 0', f: 'HAVING 1 > 0'},             {{ d["having_1_greater_0"][0] }}, {{ d["having_1_greater_0"][1] }}],
  ]);
  var options = {
    title: 'Interactive Features: {{ old_version }} vs {{ new_version }}',
    chartArea: {width: '65%'},
    hAxis: {
      fontSize:10,
      title: 'Suite',
    },
    legend: { position: 'bottom' },
    vAxis: {
      title: 'Time (s)'
    }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('interactive_features_div'));
  chart.draw(data, options);
}
 
function drawTpchTimes() {
  var data = new google.visualization.DataTable();
  data.addColumn('string', 'Query');
  data.addColumn('number', '{{ old_version }}');
  data.addColumn('number', '{{ new_version }}');
  data.addRows([
    {% for (k, v) in tpch.iteritems() %}
      [{v: '{{ k }}', f: '{{ k }}'}, {{ v[0] }}, {{ v[1] }}],
    {% endfor %}
  ]);
  var options = {
    title: 'TPC-H: 1 Node, Scale 2, {{ old_version }} vs {{ new_version }}',
    chartArea: {width: '75%'},
    hAxis: {
      fontSize:10,
      title: 'Query',
      slantedText:true,
      slantedTextAngle:90
    },
    vAxis: {
      title: 'Time (s)'
    }
  };
  var chart = new google.visualization.ColumnChart(document.getElementById('tpch_times_div'));
  chart.draw(data, options);
}
 
function drawTbench1() {
  var other_interactive_data = new google.visualization.DataTable();
  other_interactive_data.addColumn('string', 'Query');
  other_interactive_data.addColumn('number', '{{ old_version }}');
  other_interactive_data.addColumn('number', '{{ new_version }}');
  other_interactive_data.addRows([
    {% for (k, v) in other_interactive.iteritems() %}
      [{v: '{{ k }}', f: '{{ k }}'}, {{ v[0] }}, {{ v[1] }}],
    {% endfor %}
  ]);
  var other_interactive_options = {
    title: 'BI Benchmark: 1 Node, Scale 2, {{ old_version }} vs {{ new_version }} "Other Interactive"',
    chartArea: {width: '75%'},
    hAxis: {
      fontSize:10,
      title: 'Query',
      slantedText:true,
      slantedTextAngle:90
    },
    vAxis: {
      title: 'Time (s)'
    }
  };
  var other_chart = new google.visualization.ColumnChart(document.getElementById('tbench1_other_div'));
  other_chart.draw(other_interactive_data, other_interactive_options);

  var faster_data = new google.visualization.DataTable();
  faster_data.addColumn('string', 'Query');
  faster_data.addColumn('number', '{{ old_version }}');
  faster_data.addColumn('number', '{{ new_version }}');
  faster_data.addRows([
    {% for (k, v) in faster_queries.iteritems() %}
      [{v: '{{ k }}', f: '{{ k }}'}, {{ v[0] }}, {{ v[1] }}],
    {% endfor %}
  ]);
  var faster_options = {
    title: 'BI Benchmark: 1 Node, Scale 2, {{ old_version }} vs {{ new_version }} "Faster Queries"',
    chartArea: {width: '75%'},
    hAxis: {
      fontSize:10,
      title: 'Query',
      slantedText:true,
      slantedTextAngle:90
    },
    vAxis: {
      title: 'Time (s)'
    }
  };
  var faster_chart = new google.visualization.ColumnChart(document.getElementById('tbench1_faster_div'));
  faster_chart.draw(faster_data, faster_options);
}
//]]>  
 
</script>
 
{% endblock %}
